@import url('./colores.css');

.contenedor-ayuda{
    width: 98%;
    height: 76vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--titulo-color);
    padding: 0px 10px 0px 10px;

}

.contendedor-video{
    display: grid;
    grid-template-columns: 70% 30%;
}


.color-video{
    background-color: rgb(3, 52, 187);
}
.tutoriales-buscador
{
    display: flex;
    justify-content: flex-end;
}

.pag-ayuda-tutoriales{
    background-color: rgba(2, 26, 206, 0.568);
    text-align:center;
    width: 100%;
    max-width: 1000px;
    margin: 3px auto;
    display: grid;
    grid-area: 20px;
}

.pdfview{
background-color: rgb(20, 24, 255);
margin: 3px;
}





    
.container .heading { 
    font-size: 1.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
    color: var(--blue);
    font-family:'Playfair Display';
    letter-spacing: .2rem;
    text-align:center;
    color: var(--titulo-color);
    text-shadow: 0 .3rem .5rem royalblue(0,0,0,.5);
}