@import url('./colores.css');

.contenedor-dashboard
{
    width: 98%;
    height: 76vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: var(--titulo-color);
    padding: 0px 10px 0px 10px;
}

.contenedor-grafica-dash
{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    width: 96%;
    height: 66vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.card-tanque-dash{
    position: relative;
    max-width: 300px;
    height: 215px;
    border-radius: 5px;
    background-color: var(--cuarto-color);
    margin: 30px 10px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #999;
    transition: 0.3s ease-in-out;
  }
  .card-tanque-dashs:hover{
    height: 500px;
  }
  .card-tanque-dash-e{
    position: relative;
    max-width: 300px;
    height: 215px;
    border-radius: 5px;
    background-color: var(--texto-color);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #999;
    transition: 0.3s ease-in-out;
  }
  .card-tanque-dash-e:hover{
    height: 500px;
  }

  .card-progreso-d{
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    background-color: #fff;
    width: 80%;
    height: 230px;
    top: -60px;
    left: 20px;
  }
  .contentenido-tanque{
      display: grid;
      grid-template-columns: 15% 85%;
      position: relative;
      margin-top: 0px;
      padding: 10px 15px;
      text-align: center;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s ease-in-out;
  }
  .card-tanque-dash:hover .contentenido-tanque{
      visibility: visible;
      opacity: 1;
      margin-top: -40px;
      transition-delay: 0.3s;
  }
  .card-tanque-dash-e:hover .contentenido-tanque{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
.porcentaje{
    position: relative;
    width: 75px;
    height: 75px;
    color: var(--texto-color-light);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: var(--quinto-color);
    box-shadow: 2px 2px 5px #999;
}

.porcentaje-e{
    position: relative;
    width: 75px;
    height: 75px;
    color: var(--texto-color-light);
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 50%;
    background-color: var(--texto-color);
    box-shadow: 2px 2px 5px #999;
}
