@import url('./colores.css');

.contenedor-progreso{
    width: 100%;
    height: 76vh;
    text-align: center;
    color: var(--titulo-color);
}
/*----=========progreso=======----*/
.contenedor-grafica
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
    width: 98%;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px 0px 20px;     
}

.contenedor-tanque-card{
  position: relative;
  width: 250px;
  height: 350px;
}
.tanque-card{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.tanque-card:hover{
  transform:rotateY(180deg);
}
.frente-card{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: var(--cuarto-color);
  color: var(--texto-color-light);
  border-radius: 5px;
}
.detras-card{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #445D6E;
  color: var(--texto-color-light);
  transform: rotateY(180deg);
  border-radius: 5px;
}
/**---**/
.contenedor-vision-mision
{
    background-color: var(--cuarto-color);
    text-align: center;
    color: var(--texto-color-light);
    width: 100%;
}
.vision
{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.vision img
{
    width: 60%;
    height: 60%;
    transition: 1s all;
}
.vision img:hover
{
    transform: scale(1.3);
}
.mision
{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.mision img{
    width: 60%;
    height: 60%;
    transition: 1s all;
}
.mision img:hover
{
  transform: scale(1.3);
}
.contenedor-publicacion
{
  width: 100%;
  height: 76vh;
  text-align: center;
  color: var(--titulo-color);
  overflow-y: hidden;
  overflow-x: hidden;
}

.publicaciones
{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contenendor-publicacion{
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.card-public{
  position: relative;
  max-width: 300px;
  height: 215px;
  background-color: var(--cuarto-color);
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px #999;
  transition: 0.3s ease-in-out;
}
.card-public:hover{
  height: 420px;
}

.imgpublic{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
}

.imgpublic img{
  max-width: 100%;
  border-radius: 4px;
}
.descripcion-public{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: var(--texto-color-light);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.card-public:hover .descripcion-public{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}


footer{
    background-color: var(--cuarto-color);
    color: var(--texto-color-light);
    padding: 5px 50px 5px 50px;
}


.footer-datos
{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
}
.footer-datos a{
    text-decoration: none;
    color: var(--texto-color-light);
}
.footer-dato-fin
{
    text-align: center;
}

  
progress[value] {
    appearance: none;
    border: none;
    width: 90%; height: 20px;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: royalblue;
    position: relative;
    margin: 0 0 1.5em; 
}
progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}
  
progress[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    animation: animate-stripes 5s linear infinite;
}
@keyframes animate-stripes { 100% { background-position: -100px 0; } }
  
progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;
    
    width:5px; height:5px;
    top:7px; right:7px;
    
    background-color: white;
    border-radius: 100%;
}
  
progress[value]::-moz-progress-bar {
    background-image:
  -webkit-linear-gradient( 135deg,
                           transparent,
                           transparent 33%,
                           rgba(0,0,0,.1) 33%,
                           rgba(0,0,0,.1) 66%,
                           transparent 66%),
    -webkit-linear-gradient( top,
                            rgba(255, 255, 255, .25),
                            rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    width: 80%; height:20px;
}
  
.progress-bar span {
    background-color: green;
    border-radius: 3px;
    display: block;
    text-indent: -9999px;
}
  
p[data-value] { 
    position:relative; 
}
  
 
p[data-value]:after {
    content: attr(data-value) '%';
    position: relative; right: -20px;
}
  
  
.progreso-muestra::-webkit-progress-value 
{
    background-image:
    -webkit-linear-gradient( 135deg,
                           transparent,
                           transparent 33%,
                           rgba(0,0,0,.1) 33%,
                           rgba(0,0,0,.1) 66%,
                           transparent 66%),
    -webkit-linear-gradient( top,
                            rgba(255, 255, 255, .25),
                            rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
  }
  
.progreso-muestra::-moz-progress-bar {
    background-image:
    -moz-linear-gradient( 135deg,
                             transparent,
                             transparent 33%,
                             rgba(0,0,0,.1) 33%,
                             rgba(0,0,0,.1) 66%,
                             transparent 66%),
      -moz-linear-gradient( top,
                              rgba(255, 255, 255, .25),
                              rgba(0,0,0,.2)),
       -moz-linear-gradient( left, #09c, #690);
  }