@import url('./colores.css');

.contenedor-login
{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    background-color: var(--primer-color);
    animation: intro-login .6s ease;
}

.login-app{
    width: 80%;
    padding: 5% 10% 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cuarto-color);
    color: var(--texto-color-light);
}
.login-app input{
  width: 100%;
}
.login-app button{
  width: 50%;
}
.contenedor-login img
{
    width: 400px;
    height: 400px;
}


@keyframes intro-login {
    from{
        opacity: 0;
        transform: translate3d(0,0,0) scale(0.3);
    }
    
}